<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Your registration for Agile Singapore 2013 is complete!</h1>
<p>--------Registration Detail------------</p>
<p>Name: <%= @registrant.first_name %> <%= @registrant.last_name %></p>
<p>Company: <%= @registrant.company %></p>
<p>Position: <%= @registrant.position %></p>
<p>----------------------------------------</p>
<p>November 7-8, 2013</p>
<p>Marina Bay Sands</p>
<p>10 Bayfront Ave, Singapore 018956</p>

<p>For more detail please visit <%= @url %></p>
<p>Thanks you very much and have a great day!</p>
</body>
</html>